body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

figure img {
  margin-left: auto;
  margin-right: auto;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: azure;
}

figure figcaption {
  text-align: center;
  text-size-adjust: 12;
}

section.featured-property p {
  text-align: center;
  width: 800px;
}

#details div {
  float: left;
  background-color: red;
  text-align: center;
  padding-left: 180px;
}